
<h1>Registrar Nova Compra</h1>  

<div class="row">
    <div class="col s6">
        <h2>Lista de Produtos</h2>  
    </div>

    <div class="col s6">
        <h2>Itens Adicionados</h2>  
    </div>
</div>


<div class="row">
    <!--Lista-->
    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-item"><div>Ração para gatos <br>Estoque: 35            
                <button class="secondary-content btn waves-effect waves-light" type="submit" name="action">ADICIONAR
                <i class="material-icons right">send</i>
                </button></div></li>
            <li class="collection-item"><div>Ração para cães <br>Estoque: 12           
                <button class="secondary-content btn waves-effect waves-light" type="submit" name="action">ADICIONAR
                <i class="material-icons right">send</i>
                </button></div></li>
            <li class="collection-item"><div>Ração para ornitorrincos <br>Estoque: 20           
                <button class="secondary-content btn waves-effect waves-light" type="submit" name="action">ADICIONAR
                <i class="material-icons right">send</i>
                </button></div></li>
            <li class="collection-item"><div>Mordedor <br>Estoque: 20           
                <button class="secondary-content btn waves-effect waves-light" type="submit" name="action">ADICIONAR
                <i class="material-icons right">send</i>
                </button></div></li>
            <li class="collection-item"><div>Coleira <br>Estoque: 20           
                <button class="secondary-content btn waves-effect waves-light" type="submit" name="action">ADICIONAR
                <i class="material-icons right">send</i>
                </button></div></li>

        </ul>
    </div>

    <!--Itens-->
    <div class="col s6">
        <ul class="collection with-header">
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="badge material-icons red-text">remove_circle</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="badge material-icons red-text">remove_circle</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="badge material-icons red-text">remove_circle</i></a></div></li>
    </div>
</div>

<div class="row">        

<div class="col s2 push-s9">        
    <button class="btn waves-effect waves-light" type="submit" name="action">CONTINUAR COMPRA
    <i class="material-icons right">send</i>
    </button>
</div>

</div>